* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

li {
    list-style: none;
}

.container {
    max-width: 900px;
    min-width: 700px;
    margin: 3rem auto;
    background-color: sandybrown;
    border-radius: 3rem;
}

.todo {
    height: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

h1 {
    width: 80%;
    margin-bottom: 2rem;
    font-size: 4rem;
    text-transform: uppercase;
    color: white;
    border-bottom: 2px solid white;
}

input {
    width: 350px;
    font-size: 1.5rem;
    line-height: 2rem;
}

.error {
    color: red;
}

button {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
}

.list {
    width: 80%;
    padding: 0.5rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: start;
    background-color: white;
    border-radius: 1rem;
}

.list li {
    display: flex;
}


.list li .text {
    flex: 1 0 0;
}

.list li .text:hover,
.list li .delete:hover {
    cursor: pointer;
}

.done {
    text-decoration: line-through;
}

.empty {
    font-size: 1.5rem;
    color: white;
}